body {
    overflow-x: hidden !important;
}

nav {
    position: fixed;
}

.navbar .navbar-brand span {
    color: red;
}

.navbar li a.active {
    border-bottom: 2px solid red;
    margin-left: 80px;
    color: #000;
}

.navbar li a {
    border-bottom: 2px solid transparent;
    margin-left: 5px;
    margin-right: 5px;
    transition: .3s;
}

.navbar li a:hover {
    border-bottom: 2px solid red;
    color: #000 !important;
}

form button {
    border-radius: 20px !important;
}

.p-t-5 {
    margin-top: 20px;
    background: #EEEEEE;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.button {
    border-radius: 20px !important;
    display: flex;
    justify-content: start;
    padding: 8px 20px !important;
}

.fw-normal span {
    color: red;
}